* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

/* Barra superior */
.top-bar {
    background-color: #952d91;
    color: #fff;
    padding: 6px 15px;
    font-size: 14px;
    text-align: center;
}

.top-bar .contact-info i {
    margin-right: 5px;
}

.top-bar .social {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 25px;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.logo-text h4 {
    font-size: 14px;
}

.logo-text p {
    font-size: 13px;
    color: #333;
}

/* Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav-links a:hover {
    color: #952d91;
}

/* Ícone menu responsivo */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #952d91;
    cursor: pointer;
}

.carousel {
    width: 100%;
    height: 615px;
    overflow: hidden;
    position: relative;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Rodapé inferior */
.bottom-bar {
    background-color: #92278FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
}



/* Responsividade */
@media (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
